
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    width: 100%;
}
section{
    width: 80%;
    margin: auto;
}
.top-h1{
    font-size: 80px;
    color: rgb(94, 90, 90);
    font-family: 'Unna', serif;
    padding: 0;
    margin: 0; 
}
.boder-img{
    border-left: 5px solid orangered;
}
.text-color{
    color: orange;
}
.flexible-container{
    display: flex;
}
.half-width{
    width: 50%;
    margin-top: 2rem;
}
.half-width img{
    width: 80%;
}    
.link-button{
    text-decoration: none;
    background-image: linear-gradient( tomato, red);
    padding: 10px 40px;
    color: white;
    font-weight: 400;
    border-radius: 10px;
    margin-top: 20px;
}
.link-button:hover{
    color: rgb(87, 165, 42);
}
.mission-head h1{
    text-align: center;
    font-size: 40px;
    margin-top: 5rem; 
}
.mission-main{
    display: flex;
}
.mission-text h3{
    font-size: 30px;
    text-align: center;
}
.reci-head h1{
    text-align: center;
    font-size: 40px;
}
.mission-main{
    display: flex;
    margin: 0 100px 0 100px;

}
.mission-image{
    width: 50%;
}
.mission-item-1{
    width: 50%;
    padding:30px;
    margin-left: 3%;
    margin-right: 3%;
    background-color: rgb(214, 224, 224);
    border-radius: 20px;
    text-align: center;
}
.mission-item-2{
    width: 50%;
    padding:30px;
    margin-left: 3%;
    margin-right: 3%;
    background-color: rgb(238, 204, 221);
    border-radius: 20px;
    text-align: center;
}
.mission-item-3{
    width: 50%;
    padding:30px;
    margin-left: 3%;
    margin-right: 3%;
    background-color: rgb(250, 237, 218);
    border-radius: 20px;
    text-align: center;
}
.about-me{
    background-image: url(); 
    background-repeat: no-repeat;
    height: 500px;
    padding: 8%;
}
.about-me h1{
    font-size: 50px;
    height: 20px;
}
.corona-site h1{
    font-size: 50px;
    height: 20px;
}
#corona-img{
    height: 40rem;
    object-fit: contain;
    margin-left: 7rem;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #979e2d;
  color: white;
  padding: 6px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 20px;
  background-color: #f2f2f2;
  padding: 10px;
}
input[type=text], select, textarea:focus{
    color: tomato;
}


#footer-main{
    margin-top: 100px;
    padding-bottom: 30px;
    padding-top: 30px;
    background-color: rgb(0, 0, 0);

}
.footer-text h1{
    text-align: center;
    font-family: 'Praise', cursive;
    font-size: 50px;
    color: white;
}
.footer-text p{
    text-align: center;
    color: white;
}
.footer-h1{
    color: orangered;
}